*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
        135deg,
        #0d6efd,
        #4dabf7
    );
}

.login-card{

    width:350px;

    background:white;

    padding:35px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 10px 30px
    rgba(0,0,0,0.2);
}

.login-card h1{

    color:#0d6efd;

    margin-bottom:10px;
}

.login-card p{

    color:#666;

    margin-bottom:30px;
}

input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:2px solid #ddd;

    border-radius:12px;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#0d6efd;

    color:white;

    cursor:pointer;
}

button:hover{

    background:#0b5ed7;
}